@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&family=Poppins:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-black: #000000;
    --c-white: #f1f1f1;
    --c-secondry: #0074d9;
    --c-text: #f1f1f1;
    --c-bg: #2e2e2e;
}

body.dark {
    --c-text: #2e2e2e;
    --c-bg: #f1f1f1;
}


body {
    background-color: var(--c-bg);
    color: var(--c-text);
}